---
import notionData from '../data/notion.json'
import Card from '../components/Card.astro';
import Collection from '../components/Collection.astro';
import capitalizeWords from "../scripts/capitialiseWords";
import formatCategoryString from '../scripts/formatCategoryString';
import NotionData from '../data/notion.json'

console.log(NotionData[0])
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro Hackathon Showcase</title>
	</head>
	<body>
		<h1>Astro Hackathon Showcase</h1>
		<main>
			<Collection title="Themes">
				{notionData.filter(item=>item.Category.toLowerCase().includes('theme')).map(data=><Card {data}/>)}
			</Collection>
			<Collection title="Integrations">
				{notionData.filter(item=>item.Category.toLowerCase().includes('integrations')).map(data=><Card {data}/>)}
			</Collection>
			<Collection title="SSR">
				{notionData.filter(item=>item.Category.toLowerCase().includes('ssr')).map(data=><Card {data} />)}
			</Collection>		
		</main>
	</body>
</html>
