---
import notionData from '../data/notion.json'
import Base from '../layouts/Base.astro';
import Card from '../components/Card.astro';
import Collection from '../components/Collection.astro';
import capitalizeWords from "../scripts/capitialiseWords";
import formatCategoryString from '../scripts/formatCategoryString';
import NotionData from '../data/notion.json'

console.log(NotionData[0])
---
<Base title="Astro Hackathon Showcase">
	<Collection title="Themes">
		{notionData.filter(item=>item.Category.toLowerCase().includes('theme')).map(data=><Card {data}/>)}
	</Collection>
	<div class="divider"></div> 
	<Collection title="Integrations">
		{notionData.filter(item=>item.Category.toLowerCase().includes('integration')).map(data=><Card {data}/>)}
	</Collection>
	<div class="divider"></div> 
	<Collection title="SSR">
		{notionData.filter(item=>item.Category.toLowerCase().includes('ssr')).map(data=>(data.Author.includes('dummy')? <div/> : <Card {data} />))}
	</Collection>		
</Base>
