---
import notionData from '../data/notion.json'
import Base from '../layouts/Base.astro';
import capitalizeWords from '../scripts/capitialiseWords';
import formatCategoryString from '../scripts/formatCategoryString';

const data = ()=>{
	const setOfCategories = [...new Set(notionData.map((item)=> item.Category ))]
	let counter = {
		theme:0,
		integration:0,
		ssr:0
	}
	setOfCategories.forEach(category=>{
		if(category.includes('Theme')){
			counter.theme = notionData.filter(i => i.Category.includes(category)).length
		} 
		if(category.includes('SSR')){
			counter.ssr = notionData.filter(i => i.Category.includes(category)).length
		} 
		if(category.includes('Integration')){
			counter.integration = notionData.filter(i => i.Category.includes(category)).length
		} 
	})
	return counter
	
}

---
<Base title="Astro Hackathon Showcase">
   {
		 Object.entries(data()).map(([name,count])=> 
			 <h2>{name !== 'ssr' ? `${capitalizeWords(name)}s`: name.toUpperCase()}</h2>
			 <p><span>{count}</span> Submissions</p>
			 <a href={`/${name}`}><button>View Entries</button></a>
		 )
	 }
	 <div class="">
	 	<h2>
			Vote 
		</h2>
			 <a href="https://astro.build/hack"><button>Cast your Vote</button></a>
	 </div>
</Base>
