---
import NotionData from '../../data/notion.json'   
import { Markdown } from 'astro/components';
import Base from '../../layouts/Base.astro';
import formatCategoryString from '../../scripts/formatCategoryString';
import fetchREADMEfromGithub from '../../scripts/fetchREADMEfromGithub';

export async function getStaticPaths() {
     return NotionData.map(record=>{
         const category = formatCategoryString(record.Category) 
         return {
             params:{
                 category:category,
                 project:record.Name.toLowerCase()
             },
             props:{
                 record
             }
         }
     })
 }
const {category,project}=Astro.params
const {record}=Astro.props
const readme = await fetchREADMEfromGithub(record.GitHub)

---
<Base>
    <div class="prose container mx-auto px-3">
        <Markdown content={readme}/>
    </div>
</Base>