---
import NotionData from '../../data/notion.json'   
import { Markdown } from 'astro/components';
import Base from '../../layouts/Base.astro';
import formatCategoryString from '../../scripts/formatCategoryString';
import getGitUserName from '../../scripts/getGitUserName';
import fetchREADMEfromGithub from '../../scripts/fetchREADMEfromGithub';

export async function getStaticPaths() {
     return NotionData.map(record=>{
         const category = formatCategoryString(record.Category) 
         return {
             params:{
                 category:category,
                 project:record.Name.toLowerCase()
             },
             props:{
                 record
             }
         }
     })
 }
const {category,project}=Astro.params
const {record}=Astro.props
const gitUser = getGitUserName(record.GitHub)
const readme = await fetchREADMEfromGithub(gitUser,record.Name.toLowerCase())

---
<Base>
<div class="container mx-auto px-3">
    <div class="mockup-window prose mx-auto border border-primary bg-primary">
        <div class="p-4 bg-base-100 text-base-content">
            <a class="absolute w-full -top-2 left-1/2 -translate-x-1/2 font-bold no-underline text-center" href={record.GitHub + '#readme'}>
                <h3 class="text-sm text-primary-content">README.md</h3>
            </a>
            <Markdown content={readme} />
        </div>
    </div>
</div>
</Base>
