---
import Card from '../../components/Card.astro';
import Collection from '../../components/Collection.astro';
import NotionData from '../../data/notion.json'
import Base from '../../layouts/Base.astro';
import formatCategoryString from '../../scripts/formatCategoryString';
import { prettyCategoryName } from '../../scripts/prettyCategoryName';

export async function getStaticPaths() {
    return NotionData.map(record => {
        const category = formatCategoryString(record.Category)
        return {
            params: { category },
            props: { record },
        };
    });
}
const { category } = Astro.params;
const title = prettyCategoryName(category);
const projects = NotionData
    .filter(item => item.Category.toLowerCase().includes(category))
    .sort((a, b) => 'winner' in a ? -1 : 'winner' in b ? 1 : 'mvp' in a ? -1 : 'mvp' in b ? 1 : 0);
---

<Base {title}>
<Collection {title}>
    {projects.map((data) => <Card {data} />)}
</Collection>
<div class="container text-center mx-auto">
    <a href="/" class="btn btn-lg">â† See all categories</a>
</div>
</Base>