---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---
<div class="container mx-auto px-3 space-y-8">
  <h2 class="text-3xl">{title}</h2>
  <div class="grid gap-6 gap-y-3 sm:gap-y-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    <slot/>
  </div>
</div>